@tailwind base;
@tailwind components;
@tailwind utilities;
/* 🔥 GLOBAL SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #475569; /* gray-600 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* lighter */
}
html, body, #root {
  height: 100%;
  overflow: hidden;
}